body {
	background: #FFD7C8;
}

h1 {
	font-size: 50px;
	text-align: center;
	color: #FF2F53;
}

#capa {
	height: 500px;
	width: 900px;
	padding: 5px ;
	margin-left: 500px;
	border:solid #FF2F53;

}

p {
	text-align: center;
}